<%= content_for :title, "Wochenstatus #{@status.new_record? ? 'erstellen' : 'bearbeiten'}" %>

<% if @preview %>
  <%= render @status %>
<% end %>

<%= simple_form_for(@status, :html => { :class => 'form-horizontal'}) do |f| %>
  <legend>Wochenstatus <%= @status.new_record? ? 'erstellen' : 'bearbeiten' %></legend>
  <%= f.input :status, :label => "Status", :as => :text, :input_html => { :rows => 10, :class => "span7" } %>

  <div class="form-actions">
    <%= f.button :submit, :value => 'Speichern', :class => 'btn btn-primary' %>
    <%= f.button :submit, :value => 'Vorschau', :class => 'btn btn-info' %>
    <%= link_to 'Löschen', @status, :method => :delete, :class => "btn btn-danger" unless @status.new_record? %>
  </div>

<% end %>
