<%= simple_form_for(blog, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :owner %>
  <%= f.input :description, :as => :text, :input_html => { :class => "col-md-5", :rows => 3 } %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
