<p>
  <b>Name:</b>
  <%=h @blog.name %>
</p>

<p>
  <b>Owner:</b>
  <%=h @blog.owner %>
</p>

<p>
  <b>Description:</b>
  <%=h @blog.description %>
</p>


<%= link_to image_tag('edit.png') + ' Bearbeiten', edit_blog_path(@blog) %> |
<%= link_to image_tag('show.png') + ' Einträge anzeigen', [@blog, :entries] %> |
<%= link_to 'Zurück', blogs_path %>
