<li class="comment" id="comment-<%= comment.id %>">
  <p>
    <%= avatar(comment.author) %><span class="author"><%= comment.author %></span>
    <a href="<%= blog_entry_path(comment.entry.blog, comment.entry, :anchor => "comment-#{comment.id}")%>" class="comment-timestamp">
      <time datetime="<%= comment.created_at.to_s(:rfc822) %>">am <%= l(comment.created_at, :format => :short) %></time>
    </a>
    <% if comment.created_at != comment.updated_at %>
      <span class="comment-timestamp">(Geändert <time datetime="<%= comment.updated_at.to_s(:rfc822) %>">am <%= l(comment.updated_at, :format => :short) %></time>)</span>
    <% end %>
  </p>
  <p><%= raw comment.content_html %></p>
</li>
