<% if @comment_preview %>
  <div class="preview">
    <%= render :partial => 'comments/show',
        :locals => { :this_is_preview => 1, :comment => edit_comment } %>
  </div>
<% end %>
<% anchor = "comment-#{@comment_id}" %>
<% path = edit_comment.new_record? ? create_comment_path(:anchor => anchor) : update_comment_path(edit_comment, :anchor => anchor) %>
<%= simple_form_for edit_comment, :url => path do |f| %>
  <%= hidden_field_tag :entry_id, edit_comment.entry.id %>
  <%= f.input :content, :label => false, :input_html => { :rows => 4, :class => "span10" } %>
  <div>
    <% if edit_comment.new_record? %>
      <%= submit_tag 'Kommentar abgeben', :class => 'btn-primary' %>
      <%= submit_tag 'Vorschau', :class => 'btn-info' %>
    <% else %>
      <%= submit_tag 'Kommentar ändern', :class => 'btn-primary btn-mini' %>
      <%= submit_tag 'Vorschau', :class => 'btn-info btn-mini' %>
      <%= link_to 'Löschen', edit_comment, :method => :delete, :class => 'btn btn-danger btn-mini' %>
    <% end %>
  </div>
<% end %>
