<%= content_for :title, "Eintrag #{@entry.new_record? ? 'erstellen' : 'bearbeiten'}" %>

<% if @blog %>
<h2><%= @blog.name %></h2>
<% end %>

<% if @preview %>
  <%= render @entry %>
<% end %>

<%= simple_form_for(@entry, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <legend>PPP-Eintrag <%= @entry.new_record? ? 'erstellen' : 'bearbeiten' %></legend>
  <%= f.input :blog_id, :collection => Blog.by(@user).map {|b| [b.name, b.id]}, :label => "Blog" %>
  <%= f.error :blog_id %>

  <%= f.input :title, :label => t('titles.title'), :input_html => { :class => "col-md-7" } %>

  <%= f.input :progress, :label => t('titles.progress'), :as => :text, :input_html => { :rows => 6, :class => "col-md-7" } %>
  <%= f.input :plans, :label => t('titles.plans'), :as => :text, :input_html => { :rows => 6, :class => "col-md-7" } %>
  <%= f.input :problems, :label => t('titles.problems'), :as => :text, :input_html => { :rows => 6, :class => "col-md-7" } %>

  <%= f.input :tag_list, :label => "Tags", :input_html => { :class => "col-md-7", value: @entry.tag_list.to_s } %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= f.button :submit, :value => 'Vorschau', :class => 'btn btn-default' %>
      <%= link_to 'Löschen', [@blog, @entry], :method => :delete, :class => "btn btn-danger" unless @entry.new_record? %>
    </div>
  </div>
<% end %>
