<h1>PPP-Eintrag <%= @entry.id.nil? ? 'erstellen' : 'bearbeiten' %></h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
<div>
  <p>
    Folgende Dinge habe ich gestern/heute erreicht:<br />
    <%= f.text_area :progress, :cols => 80 %>
  </p>
  <p>
    Ich plane heute zu tun:<br />
    <%= f.text_area :plans, :cols => 80 %>
  </p>
  <p>
    Ich habe folgende Probleme, die ich ohne Hilfe nicht lösen kann.<br />
    <%= f.text_area :problems, :cols => 80 %>
  </p>
  <p>
    Author: <%= @user %> (set from login)
  </p>
  <p>
    <%= f.submit( @entry.id.nil? ? 'Anlegen' : "Ändern" ) %>
  </p>
<div>
<% end %>

<% unless @entry.id.nil? %>
<%= link_to 'Show', @entry %> |
<% end %>
<%= link_to 'Back', entries_path %>
