<%= auto_discovery_link_tag :atom, @auto_discovery_url %>

<h1><%= h @blog.title unless @blog == nil %></h1>

<p>
<%= link_to 'Alle Blogs', blogs_path %>
<% unless @blog.nil? %>
|
<%= link_to "#{@blog.owner}'s Home", user_home_path( @blog.owner ) %>
<% end %>
</p>

<%= will_paginate @entries %>

<% if @blog != nil %>
<p><%= link_to 'New entry', new_blog_entry_path(@blog) %></p>
<% end %>

<br />

<% previous_date = 'abc' %>
<% for entry in @entries %>

<% if entry.created_at.to_date != previous_date %>
<% previous_date = entry.created_at.to_date %>

<div class="day_separator">

<h1><%= l entry.created_at.to_date %></h1>	
</div>

<% end %>

<div class="blogpost">
<h1><%=h entry.title %></h1>
<p class="permalink"><%= link_to 'Permalink', blog_entry_path( entry.blog_id, entry ) %></p>
<div class="excerpt"><%=h entry.excerpt %></div>
<div class="body">
<h2>
Folgende Dinge habe ich gestern/heute erreicht:
</h2>
<div style="margin-left: 10px;"><%= textilize entry.progress %></div>
<h2>
Ich plane heute zu tun:
</h2>
<div style="margin-left: 10px;"><%= textilize entry.plans %></div>

<% if !entry.problems.nil? && entry.problems.size > 0 %>
<h2>
Ich habe folgende Probleme, die ich ohne Hilfe nicht lösen kann.
</h2>

<div style="margin-left: 10px;"><%= textilize entry.problems %></div>
<% else %>
<p><strong>Aktuell habe ich alle Probleme im Griff.</strong></p>
<% end %>
</div>
<p>
	<span class="date"><%= l entry.created_at, :format => :short %></span> |
	<span class="author">
	  <%=link_to entry.author, user_home_path(:author => entry.author)  %>
	</span> |
	<span class="tags">Tags: <%= tags(entry) %></span>
	<span class="comments">Kommentare: <%#=h entry.comments_count %></span>
	
</p>
<% if entry.author == @user %><p class="edit_post"><%= link_to 'Edit', edit_blog_entry_path(entry.blog_id, entry) %></p><% end %>
</div>
<% end %>
<%= will_paginate @entries %>

