<h1>Internes Blog</h1>

<p><%= link_to 'New entry', new_entry_path %></p>

<br />

<% for entry in @entries %>
<div class="blogpost">
<h1><%=h entry.title %></h1>
<p class="permalink"><%= link_to 'Permalink', entry %></p>
<div class="excerpt"><%=h entry.excerpt %></div>
<div class="body"><%=h entry.body %></div>
<p>
	<span class="date"><%= h entry.created_at %></span>
	<span class="author"><%=h entry.author %></span>
</p>
<% if entry.author == @user %><p class="edit_post"><%= link_to 'Edit', edit_entry_path(entry) %></p><% end %>
</div>
<% end %>

