<h1>
  <%= @blog && @blog.title.present? ? @blog.title : 'Alle Eintr채ge' %><br>
  <small>
    <% if @blog %>
      <%= content_for :title, "Alle Eintr채ge in \"#{@blog.name}\"" %>
      <%= @blog.name %> von <%= @blog.owner %>
    <% else %>
      <%= content_for :title, "Alle Eintr채ge in allen Blogs" %>
      f체r alle Blogs <% if params[:author] %>von <%= params[:author] %><%= content_for :title, " von #{params[:author]}" %><% end %>
    <% end %>
  </small>
</h1>

<%= render @entries %>

<%= paginate @entries %>

