<h1>
  <%= @blog && @blog.title.present? ? @blog.title : 'Alle Einträge' %><br>
  <small>
    <% if @blog %>
      <%= @blog.name %> von <%= @blog.owner %>
    <% else %>
      für alle Blogs <% if params[:author] %>von <%= params[:author] %><% end %>
    <% end %>
  </small>
</h1>

<%= render @entries %>

<%= paginate @entries %>

