<h1>
  <%=h @entry.title %>
</h1>

  <h2><%= @titles[:progress] %></h2>
  <div class="blogtext"><%=textilize @entry.progress %></div>

  <h2><%= @titles[:plans] %></h2>
  <div class="blogtext"><%=textilize @entry.plans %></div>

  <% if !@entry.problems.nil? && @entry.problems.size > 0 %>
    <h2><%= @titles[:problems] %></h2>
    <div class="blogtext"><%= textilize @entry.problems %></div>
  <% else %>
    <p><strong><%= @titles[:no_problems] %></strong></p>
  <% end %>

<p>
  <b>Tags:</b>
  <%=h @entry.tags_as_string %>
</p>

<p>
  <b>Author:</b>
  <%=h @entry.author %>
</p>


<% if @entry.author == @user %>
  <%= link_to image_tag('edit.png') +' Edit', edit_blog_entry_path(@blog, @entry) %> |
<% end %>

<%= link_to 'Back', blog_entries_path(@blog) %>
