<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>

<p>
  <b>Progress:</b>
  <%=textilize @entry.progress %>
</p>

<p>
  <b>Plans:</b>
  <%=textilize @entry.plans %>
</p>

<p>
  <b>Problems:</b>
  <%=textilize @entry.problems %>
</p>

<p>
  <b>Tags:</b>
  <%=h @entry.tags_as_string %>
</p>

<p>
  <b>Author:</b>
  <%=h @entry.author %>
</p>


<% if @entry.author == @user %><%= link_to 'Edit', edit_blog_entry_path(@blog, @entry) %> |<% end %>
<%= link_to 'Back', blog_entries_path( @blog ) %>
