<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>
  <title><% if content_for? :title %><%= content_for :title %> – <% end %>PPP</title>
  <%= auto_discovery_link_tag :atom, blogs_path(:atom), :title => "PPP-Blogs" %>
  <%= auto_discovery_link_tag :atom, blog_entries_path(@blog, :atom), :title => "PPPs für Blog #{@blog.name}" if @blog && !@blog.new_record? %>
  <%= auto_discovery_link_tag :atom, tag_path(@tag.name, :atom), :title => "PPPs für Tag #{@tag.name}" if @tag %>
  <%= auto_discovery_link_tag :atom, all_entries_path(:atom), :title => "Alle PPPs" %>
  <%= auto_discovery_link_tag :atom, weekly_statuses_path(:atom), :title => "Alle Wochenstatus" %>
  <%= auto_discovery_link_tag :atom, comments_path(:atom), :title => "Alle Kommentare" %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "iBlog", root_path, :class => 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <%= nav_item "PPPs" do %>
              <%= nav_item "Neuer Eintrag", new_entry_path %>
              <%= nav_item "Neues Blog", new_blog_path %>
              <li class="divider"></li>
              <%= nav_item "Alle Einträge", all_entries_path %>
              <%= nav_item "Meine Einträge", blog_entries_by_author_path(@user) %>
              <li class="divider"></li>
              <%= nav_item "Alle Blogs", blogs_path %>
              <%= nav_item "Meine Blogs", blogs_by_owner_path(@user) %>
            <% end %>
            <%= nav_item "Wochenstatus" do %>
              <%= nav_item "Neuer Eintrag", new_weekly_status_path %>
              <li class="divider"></li>
              <%= nav_item "Alle Einträge", weekly_statuses_path %>
              <%= nav_item "Meine Einträge", weekly_statuses_by_author_path(@user) %>
            <% end %>
            <%= nav_item "Kommentare", comments_path %>
            <li class="divider-vertical"></li>
            <%= nav_item "Fehler melden", "https://github.com/innoq/iBlog/issues" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="span12">
      <% flash.each do |type, msg| %>
        <%= notification(type, msg) %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
