<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>
  <title><% if content_for? :title %><%= content_for :title %> – <% end %>iBlog</title>
  <%= auto_discovery_link_tag :atom, blogs_path(:atom), :title => "PPP-Blogs" %>
  <%= auto_discovery_link_tag :atom, blog_entries_path(@blog, :atom), :title => "PPPs für Blog #{@blog.name}" if @blog && !@blog.new_record? %>
  <%= auto_discovery_link_tag :atom, tag_path(@tag.name, :atom), :title => "PPPs für Tag #{@tag.name}" if @tag %>
  <%= auto_discovery_link_tag :atom, all_entries_path(:atom), :title => "Alle PPPs" %>
  <%= auto_discovery_link_tag :atom, weekly_statuses_path(:atom), :title => "Alle Wochenstatus" %>
  <%= auto_discovery_link_tag :atom, comments_path(:atom), :title => "Alle Kommentare" %>
</head>
<body>
<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <%= notification(type, msg) %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
